.logo{
    margin-top:5px;
    align-items: center;
    display: flex;
}

.logo img{
    width: 48px;
    height: 48px;
}

.logo span{
    font-size: 24px;
    padding-left: 5px;
}

.clearfix{
    clear:both;
}

footer{
    text-align: center;
    padding-top: 20px;
}

footer{
    color: #999;
}

footer a{
    color: #999;
    text-decoration: none;
}

footer .phone{
    color: #999;
}

.register{
    margin-top:8px;
}